.row > div {
	padding:10px;
	background:#BE81F7;
	border:1px solid #fff;
}
.row{   
	margin:60px auto;
}
.row{
margin:30px auto;
}
#foto_mia{
 width: 900px;
}
 article{
	background-color: #2F80D2;
	width:98%;
	height:58%;
	color:#BDBDBD;
}height: 500px;

computos {
	background-color: tomato;
	color: white;
	padding: 10px;
}

#encabezado {
background-color: lightblue;
color: ##FF4000;
padding: 40px;
text-align: center;
}

* {margin:0; padding:0; border:0;}
html, body {
	width: auto;
	height: 100%;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	background-color:#f1f1f1;
}

header{
	position:relative;
	background-color:tomato;
	color:#BDBDBD;
	width:98%;
	height:13%;
	margin: 0px auto;
}

section{
	position:relative;
	float:left;
	background-color:#215A93;
	width:78%;
	height:58%;
	color:#BDBDBD;
}

article{
	background-color: #2F80D2;
	width:98%;
	height:58%;
	color:#BDBDBD;
}

aside{
	position:relative;
	background-color:#1E5286;
	width:18%;
	height:55%;
	color:#BDBDBD;
	float:left;
} 
footer{
	position:relative;
	background-color:#FE642E;
	width:98%;
	height:5%;
	color:#BDBDBD;
	clear:both;
}

header,section,footer,aside,article,nav
{
	margin:1%;
}
.rosy{
	color:#fff;
}






div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

